* {
      padding: 0%;
      margin: 0%;
      text-decoration: none;
      /* background-color: #BFFFF0; */
}

#bookingbtn {
      /* border: 2px solid red; */
      z-index: 9999;
      position: absolute;
      left: 40%;
      top: 0%;
      padding: 15px;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: 600;
      color: rgb(8, 0, 255);
      background-color: wheat;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#alldiv {
      /* border: 2px solid red; */
      display: grid;
      grid-template-columns: 1fr;
      flex-wrap: wrap;

}

#day_details {
      /* border: 2px solid blue; */
      margin: 156px 5px 0px 5px;

      /* position: relative; */

}


#bookingmaindiv {
      /* border: 1px solid red; */
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 30px;
      background-color: #055052;
      color: #F0A500;
      justify-content: space-between;
      position: fixed;
      z-index: 10;

}



#bookingdiv {
      /* border: 2px solid green; */
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;



}

#bookingdiv2 {
      /* border: 2px solid green; */
      display: flex;
      align-items: center;
      gap: 30px;
      margin-right: 15px;
      flex-wrap: wrap;

}

#posterimg {
      width: 150px;
      height: 150px;
      border-radius: 50%;
}

#secondbookig {
      /* border: 2px solid black; */
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: #F0E9D2;

}


.dayclass {
      /* border: 1px solid; */
      width: 110px;
      display: flex;
      flex-wrap: wrap;
      font-size: 1.4rem;
      padding: 15px;
      margin-top: 2px;
      background-color: #FF8882;
      justify-content: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* #hallname{
      margin: 15px 15px;
      border: 2px solid green;
      height: 100px;
      padding: 20px;

} */
.nameanddetails {
      margin: 15px 15px;
      border: 1px solid rgb(212, 221, 212);
      height: 100px;
      padding: 20px;

}

#timebtn {
      position: absolute;
      padding: 10px;
      margin: 35px 25%;
}


.bookbtnonclick {
      border: none;
      position: absolute;
      padding: 5px;
      font-size: 1.5rem;
      margin: 35px 50%;
      text-align: center;
      background-color: #00FFAB;
      color: red;
      width: 100px;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media all and (min-width:0px) and (max-width:700px) {
      #day_details {
            /* border: 2px solid blue; */
            margin-top: 360px;


      }
}