* {
      padding: 0%;
      /* margin: 0%; */
      text-decoration: none;
}

.cartbigdiv {
      /* border: 2px solid red; */
      width: 100%;
      margin: auto;
      text-align: center;
}

#backimg {
      width: 100%;
      height: 80vh;
      /* border: 2px solid red; */
      background-size: cover;
      background-position: 100%;
      display: flex;
      background-repeat: no-repeat;
      /* flex-wrap: wrap; */
}

#movie {
      /* border: 2px solid green; */
      width: 30%;
      height: 80vh;
      background-color: rgba(15, 15, 15, 0.959);


}

#posterimg {
      margin-top: 50px;
      width: 20vw;
      height: 60vh;
      /* z-index: 9999; */
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      border: 10px dashed rgb(221, 255, 0);
}

#smalldetial {
      /* border: 2px solid green; */
      width: 70%;
      background-color: rgba(30, 27, 27, 0.659);
      text-align: left;
      padding: 40px;
      color: aliceblue;
}

#titlediv {
      /* border: 2px solid red; */
      width: 40%;

}

#imgdivdil {
      padding: 0%;
      margin: 0%;
      display: flex;
      gap: 5px;
}

#conform_btn {
      padding: 15px;
      /* width: 18vw; */
      font-size: 1.5rem;
      border-radius: 15px;
      font-weight: 600;
      background-color: #B9005B;
      color: aliceblue;
      border: none;
      padding-left: 30px;
      padding-right: 30px;

}

#movie2 {
      /* border: 2px solid red; */
      /* margin-top: 3vh; */
      width: 50%;
      text-align: left;
      height: 95vh;
      font-size: 2rem;
      padding-left: 40px;

}

#movie3 {
      /* border: 2px solid red; */
      /* margin-top: 3vh; */
      width: 50%;
      text-align: left;
      height: 95vh;
      font-size: 2rem;

}

.goto {
      /* border: 1px solid red; */
}

#h4titlecart {
      font-size: 2rem;
      color: #99154E;
}

.moviediv44 {
      display: flex;
      flex-wrap: wrap;
      /* border: 2px solid rebeccapurple; */
      justify-content: space-between;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 15px;
      gap: 20px;
}

.book_now {
      border-radius: 10px;
      padding: 5px;
      width: 150px;
      background-color: #06FF00;
}



/* ----------           MEDIA QUERY       --- */


@media all and (min-width: 0px) and (max-width: 700px) {
      * {
            padding: 0px;
            margin: 0px;
      }

      .goto {
            width: 98%;
      }

      .cartbigdiv {
            /* border: 2px solid yellow; */
            width: 98%;
            margin: auto;
            text-align: center;
      }

      #backimg {
            width: 98%;
            height: 98vh;
            /* border: 2px solid red; */
            background-size: 95% 98%;
            background-position: 0.1rem;
            flex-wrap: wrap;
            margin: auto;

      }

      #movie {
            /* border: 2px solid blue; */
            width: 95%;
            height: 60vh;
            background-color: rgba(15, 15, 15, 0.959);
            margin: auto;


      }

      #posterimg {
            width: 95%;
            height: 55vh;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            border: 5px dashed rgb(195, 255, 0);
            margin: 0px;
      }

      #smalldetial {
            /* border: 2px solid green; */
            width: 95%;
            background-color: rgba(30, 27, 27, 0.819);
            /* text-align: left; */
            padding: 0px;
            color: rgba(241, 235, 236, 0.997);
            margin: auto;

      }

      #titlediv {
            /* border: 2px solid red; */
            width: 95%;
            margin-top: 0px;

      }

      #movie23 {
            width: 95%;
            /* border: 2px solid green; */
            font-size: 0.1rem;
      }

      #movie2 {
            /* border: 2px solid red; */
            /* margin-top: 3vh; */
            width: 45%;
            text-align: left;
            height: 50vh;
            font-size: 1.2rem;
            padding-left: 0px;

      }

      #movie3 {
            /* border: 2px solid red; */
            /* margin-top: 3vh; */
            width: 50%;
            text-align: left;
            height: 50vh;
            font-size: 1rem;

      }

}