* {
      padding: 0px;
      margin: 0px;
      text-decoration: none;
}

#add-money {
      border: 2px solid red;
      width: 250px;
      height: 50vh;
      margin: auto;
      margin-top: 10vh;
      padding: 20px;
      justify-content: center;
      text-align: center;
      display: grid;
      grid-template-columns: 1fr;
      /* position: fixed; */
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      background-color: #00ffab;
      border-radius: 10px;
}

#book_movies {
      font-size: 1rem;
      font-weight: 600;
      /* border: 1px solid red; */
      display: flex;
      justify-content: space-around;
      align-items: center;
      
}

#amount {
      padding: 10px;
}

#add_to_wallet {
      font-size: 1rem;
      font-weight: 600;
      background-color: #f56d91;
}

